<h1>Listing games</h1>
<table>
  <tr>
    <th></th>
    <th>Status</th>
    <th>Players</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td>
      <% if game.is_waiting_for_players? %>
        <!--<%=  %>-->
      <% end %>
    </td>
    <td><%= link_to 'Show', game %></td>
    <td>
      <table>
          <% #(1..game.num_players) %>
      </table>
    </td>
  </tr>
<% end %>
</table>

