<% content_for :page_specific_js do %>
  <%= javascript_include_tag "game-bundle" %>
<% end %>

<p id="notice"><%= notice %></p>

<%= tag "div", id: "game_init", data: {game: GameSerializer.new(@game, :scope => current_user, :scope_name => 'current_user')} %>