#REQUIRED: Generate a key by saying "rake secret" on the command line
secret_token: SET_ME

#REQUIRED: The default should be fine though
development_default_url: localhost:3000

#REQUIRED: The default should be fine though
test_default_url: localhost:3000

#REQUIRED: Set this to the actual host of your production site before running in prod
production_default_url: SET_ME

#REQUIRED: Generate a key by saying "rake secret" on the command line
devise_pepper: SET_ME